@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lora|Nunito|Roboto+Condensed');

/*Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: sans-serif;
  margin: 0 0 0 0;
}

/* Koniec Reset CSS */

html {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #c7f8ff;
}

body {
  max-width: 100%;
}

main {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-weight: bold;
  font-size: 4.7em;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
}
h2 {
  font-size: 3.5em;
  color: #11356f;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
  text-shadow: 2px 3px #70a0e4;
}

h3 {
  font-weight: 600;
  font-size: 2em;
  color: #11356f;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 2px 3px #70a0e4;
  letter-spacing: 2px;
}
h4 {
  font-weight: bold;
  font-size: 1.2em;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px #70a0e4;
  color: #11356f;
}
h5 {
  color: #11356f;
  font-weight: bold;
  font-size: 1em;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: underline overline 2px #ffffff;
}
h6 {
  font-weight: bold;
  font-size: 0.8em;
  font-family: 'Roboto Condensed', sans-serif;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.white-opacity {
  opacity: 0.7;
  background-color: #ffffff;
}

.white {
  color: #ffffff;
}

/* NOTE: HEADER */

header {
  background-image: url('../img/header-bg.jpg');
  padding: 1% 1% 0 1%;
  max-width: 100%;
  background-size: contain;
  background-repeat: repeat-x;
}

.logo-img {
  max-width: 373px;
  max-height: 100%;
  width: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ropes-image {
  opacity: 0.6;
  padding-top: 50px;
  border-radius: 50%;
  height: auto;
  max-width: 100%;
}

.logo {
  height: 150px;
  max-width: 374px;
  width: 374px;
  margin-bottom: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.logo-menu-container {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-radius: 10px;
}

.menu-container {
  max-width: 100%;
  height: 150px;
  margin-bottom: 10px;
  flex-grow: 1;
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.center-container {
  justify-content: center;
}

.column-container {
  flex-direction: column;
}

.welcome {
  padding-top: 120px;
  padding-left: 50px;
  flex-grow: 1;
  justify-content: flex-start;
  min-width: 60%;
}

.image {
  max-width: 40%;
  margin: 0 2% 2% 2%;
  justify-content: flex-end;
}

.no-display {
  display: none;
}

.back-to-top {
  position: fixed;
  top: 70%;
  right: 1%;
  z-index: 150;
  border: 2px solid #055e9e;
  background-color: #055e9e;
  border-radius: 5px;
  padding: 0 5px 5px 5px;
}

/* NOTE: MENU  */

nav {
  background-color: #ffffff;
  padding-right: 20px;
  padding-bottom: 5px;
  border-bottom-right-radius: 10px;
}

nav a {
  color: #3a6393;
  font-size: 16px;
  font-family: 'Nunito';
  letter-spacing: 2px;
  text-decoration: none;
  padding-right: 2px;
  padding-left: 2px;
  border-right: 2px solid #70a0e4;
  border-left: 2px solid #70a0e4;
  transition: 1s background-size;
  background: linear-gradient(currentColor, currentColor) right bottom / 0 2px
    no-repeat;
}

nav a:hover {
  color: #11356f;
  font-weight: 600;
  background-size: 100% 2px;
  background-position: left bottom;
  border-right: 2px solid #11356f;
  border-left: 2px solid #11356f;
}

nav > ul {
  padding-top: 1%;
  flex-wrap: nowrap;
}

nav > ul > li {
  float: left;
  line-height: 40px;
  margin-left: 20px;
}

/* NOTE: MENU HAMBURGER */

.hamburger {
  width: 45px;
  height: 40px;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #11356f;
  margin: 5px 0;
  transition: 0.4s;
  display: none;
}

.down-button {
  margin-top: 15px;
  padding-bottom: 150px;
  text-align: center;
}

.down-button > a {
  font-weight: 500;
  border: 2px solid #055e9e;
  padding: 10px 21px 5px 21px;
  color: #ffffff;
  background-color: #055e9e;
  font-size: 3em;
  border-radius: 12%;
}

.section-title {
  width: 100%;
  margin: 30px 0 30px 0;
}

/* NOTE: YACHT SECTION */

.yachts-section {
  margin: 0 1% 10px 1%;
  background-color: #29a9e8;
  padding-top: 40px;
  padding-bottom: 80px;
  border-radius: 10px;
  opacity: 0.9;
  min-width: 98%;
}

/* NOTE: PRICE SECTION */

.price-section {
  margin: 0 1% 10px 1%;
  background-color: #a5eaff;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  opacity: 0.9;
  min-width: 98%;
  display: flex;
  justify-content: center;
}

table {
  border: 3px solid #055e9e;
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0 50px 0;
  width: 95%;
  align-items: center;
}

.table-container {
  margin: 2%;
  display: flex;
  justify-content: center;
}

th {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  /* width: 10%; */
  /* width: 80px; */
  padding: 7px 0 7px 0;
  width: 50px;
  display: flex;
  justify-content: center;
}

th:first-child {
  width: 95px;
}

td {
  font-weight: bold;
  font-size: 18px;
  padding: 7px 0 7px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}

td:first-child {
  width: 95px;
}

tr {
  padding: 3px;
  color: #11356f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
}

tbody {
  display: flex;
  border-top: 3px solid #055e9e;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  padding-right: 1%;
}
thead {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #39b1ea;
  align-items: center;
  justify-content: space-around;
  padding-right: 1%;
}

.info {
  color: rgb(45, 51, 51);
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 22px;
  text-align: justify;
}

.info-container {
  display: flex;
  padding: 30px 0 30px 0;
  margin: 0 10px 0 10px;
  justify-content: center;
  flex-wrap: wrap;
  width: 98%;
}

/* NOTE: RESERVATION SECTION */

.reservation-section {
  margin: 0 1% 10px 1%;
  background-color: #29a9e8;
  padding-top: 40px;
  padding-bottom: 100px;
  border-radius: 10px;
  opacity: 0.9;
  min-width: 98%;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
}

.form-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form-half {
  width: 50%;
}

.half {
  width: 50%;
}

.center-align:hover {
  color: white;
}

input {
  width: 95%;
  margin: 14px;
  border: none;
  line-height: 30px;
  /* border: 3px solid #11356f; */
  border-radius: 4px;
  background-color: #d9f7ff;
  box-shadow: 2px 4px 3px 3px #396274;
  padding-left: 10px;
}
.message {
  width: 100%;
}

.btn-send {
  background-color: #11356f;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-weight: 400;
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 20px;
}

.btn-send:hover {
  box-shadow: 3px 5px 4px 3px #396274;
  cursor: pointer;
  color: black;
  background-color: #285296;
}

/* NOTE: WHAT TO TAKE SECTION  */
.what-to-take {
  margin: 0 1% 10px 1%;
  background-color: #a5eaff;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  opacity: 0.9;
  min-width: 98%;
  display: flex;
  justify-content: space-around;
}

.info-container-what-to-take {
  display: flex;
  padding: 20px 0 20px 0;
  margin: 0 30px 0 30px;
  max-width: 45%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.no-wrap {
  flex-wrap: nowrap;
}

.row-direction {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

/* NOTE: CONTACT SECTION */

.contact {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  min-width: 98%;
  padding: 0 1% 0 1%;
}

.contact-container {
  width: 400px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-container a {
  color: #285296;
}

.contact-container a:visited {
  color: #285296;
}

.map-image {
  opacity: 1;
  border-radius: 20%;
  height: auto;
  max-width: 100%;
  transition: 1s;
}

.map-image:hover {
  transform: scale(1.6);
  opacity: 0.9;
}

/* NOTE: GALLERY */

.gallery {
  display: flex;
  min-width: 98%;
  max-width: 97vw;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding: 1%;
}

.gallery-image {
  width: auto;
  height: 250px;
  margin: 15px 8px 15px 8px;
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: 5px 12px 10px 3px #396274;
  filter: grayscale(1);
}

.gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.3);
  transition: 0.8s;
  z-index: 15;
}

.animate {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}

.gallery-image:nth-child(even) {
  -ms-transform: rotate(5deg); /* IE 9 */
  -webkit-transform: rotate(5deg); /* Safari */
  transform: rotate(5deg);
}
.gallery-image:nth-child(odd) {
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Safari */
  transform: rotate(-3deg);
}

.btn-close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: #ffffff;
  cursor: pointer;
  border: none;
  background: none;
  z-index: 10;
}

.btn-navigate {
  position: absolute;
  font-size: 3rem;
  color: #ffffff;
  cursor: pointer;
  border: none;
  background: none;
  z-index: 10;
}

.btn-prev {
  top: 47%;
  left: 3rem;
}

.btn-next {
  top: 47%;
  right: 3rem;
}

.hidden {
  display: none;
}

.displayFlex {
  display: flex;
}

.modal-gallery {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: auto;
  max-height: 95vh;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  box-shadow: 5px 3px 7px rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  justify-content: center;
}

.modal-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 92vh;
}

.modal-gallery-img {
  opacity: 1;
  border-radius: 10px;
  width: auto;
  max-width: 76vw;
  max-height: 92vh;
  height: auto;
  margin: 20px 0 20px 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

@media only screen and (max-width: 600px) {
  .nav {
    display: none;
  }
  .gallery img:hover {
    transform: scale(1.1);
  }
  .reservation-section {
    flex-wrap: wrap;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.7em;
  }
  .form-half {
    width: 100%;
  }
  .info-container-what-to-take {
    max-width: 95%;
  }

  .map-image:hover {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 1150px) {
  .info-container-what-to-take {
    max-width: 100%;
  }
  .nav {
    display: none;
  }
  .hamburger {
    display: inline-block;
    cursor: pointer;
    margin: 1%;
    position: absolute;
    right: 20px;
    z-index: 100;
  }
  .bar1,
  .bar2,
  .bar3 {
    display: block;
    border-radius: 500rem;
  }
  .transform-bar1 {
    -webkit-transform: rotate(-45deg) translate(-12px, 5px);
    transform: rotate(-45deg) translate(-12px, 5px);
  }
  .transform-bar2 {
    opacity: 0;
  }
  .transform-bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -3px);
    transform: rotate(45deg) translate(-9px, -3px);
  }

  nav > ul {
    padding-top: 1%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    transition: 2s;
  }

  nav > ul > li {
    line-height: 40px;
    margin-left: 20px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
  }

  .menu-hamburger {
    height: 200px;
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 100%;
  }

  .hamburger-li {
    width: 100%;
  }

  .logo-menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact {
    flex-wrap: wrap;
  }
  .map-image:hover {
    transform: scale(1.3);
  }
}
